
/* 전체 컨테이너 초기화 */
*{
	margin: 0; 
	padding: 0;
	box-sizing: border-box; 
}

.container {
	width: 100%;
    max-width: 542px;
    margin: 0 auto;   
    padding: 0 16px; 
}

body {
	font-family: Arial, sans-serif; 
	background-color: #f5f5f5; 
}

/*헤더 스타일*/ 
.boarder-header {
	display: flex; 
	justify content: space-between; 
	align-items: center; 
	padding 15px 20px; 
	background-color: white; 
	border-bottom: 1px solid #ddd;
}
.back-button{
	font-size: 24px; 
	cursor: pointer; 
}

.header-title-box{
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	flex: 1; 
}
.header-main-title{
	font-size: 16px;
	font-weight: bold;
}
.header-sub-title{
	font-size: 12px;
	color: #666;
	cursor: pointer; 
}
.header-icons{
	display: flex; 
	gap: 15px; 
	align-items: center;
}
.search-icon{
	font-size: 20px; 
	cursor: pointer; 
}

.profile-icon{
	width: 32px; 
	height: 32px; 
	border-radius: 50%; 
	object-fit: cover; 
	cursor: pointer; 
}
.notice-box{
	background-color: #ffecd9; 
	padding: 10px; 
	border-radius: 8px; 
	display: flex; 
	gap: 8px; 
	font-size: 13px;
	font-weight: bold; 
	cursor: pointer;
	}
.post-list{
	margin-top: 10px;
	background-color: white; 
}
.post-item{
	display: flex; 
	gap: 15px; 
	padding: 15px; 
	border-bottom: 1px solid #eee;
	cursor: pointer;
}
.post-item:hover{
	background-color: #f9f9f9;
}

.post-content{
	flex: 1;
}
.post-image{
	width: 100px;
	height: 100px;
	border-radius: 8px; 
	object-fit: cover; 
}
.post-title{
	font-size: 15px; 
	font-weight: bold; 
	margin-bottom: 8px; 
}
.post-meta{
	font-size: 12px; 
	color: #999; 
	margin-top: 8px; 
}

.write-btn-container{
	
}