html, body {
	height: 100%;
    margin: 0;
    overflow: hidden; 
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

/* 모바일 페이지 전체 래퍼 */
.page-container {
    width: 100%;
	height: 100%;
    max-width: 542px;   /* 모바일 기준 */
    margin: 0 auto;
    padding: 12px;      /* 좌우 여백만 */
    box-sizing: border-box;
}

/* 카드 공통 */
.card {
    width: 100%;
    border-radius: 12px;
}

/* ヘッダー */
.header {
    padding: 10px;
    text-align: center;
}

/* プロフィール */
.profile-card {
    background: white;
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
}

.profile-image {
    text-align: center;
}

.profile-image img {
    width: 150px;
    border-radius: 8px;
}

.profile-text {
    margin-top: 10px;
    padding: 10px;
    background: #f5f5f5;
}

/* セクション */
.section {
    background: white;
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
}

.item {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.tag {
    border: 1px solid #999;
    padding: 2px 6px;
    font-size: 12px;
}

.content {
    flex: 1;
}

.date {
    font-size: 12px;
    color: #666;
}